@page "/tickets"
@using gamerszone.Data;
@using gamerszone.Iservices;
@inject ITicketService ticketService;
@inject IProjectService projectService;
@inject ICategoryService categoryService;
@using System.IO;
@inject IWebHostEnvironment env;

<h3>Tickets Page</h3>

<p>
<!-- Lets move this code and use panels here-->
<!--
<RadzenDataGrid Data="@tickets" Count="10" TItem="Ticket">
    <Columns>
        <RadzenDataGridColumn TItem="Ticket" Property="Id" Title="Ticket Id"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Ticket" Property="TicketName" Title="Title"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Ticket" Property="Project" Title="Project"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Ticket" Property="PostedBy" Title="Posted by"></RadzenDataGridColumn>
    </Columns>

</RadzenDataGrid>
-->

<RadzenPanel AllowCollapse="false" class="rz-my-10 rz-mx-auto" Style="width:96%;">
    <HeaderTemplate>
            <RadzenText TextStyle="TextStyle.H6" Class="rz-display-flex rz-align-items-center rz-m-0">
                <RadzenIcon Icon="account_box" class="rz-mr-1" /><b>Tickets</b>
            </RadzenText>
    </HeaderTemplate>
        <ChildContent>
            <RadzenCard class="rz-mt-4">
                <RadzenDataList PageSize="4" WrapItems="true" AllowPaging="true"
                                Data="@tickets" TItem="Ticket">
                    <Template Context="ticket">
                        <RadzenCard Style="width: 450px">
                            <RadzenRow>
                                <RadzenColumn Size="8" class="rz-text-truncate">
                                    @*<RadzenBadge BadgeStyle="BadgeStyle.Light" Text=@($"{ticket.Id}") class="me-1" />*@
                                    <a href="/ticketdetails/@($"{ticket.Id}")"> <b>@(ticket.TicketName)</b> </a>
                                </RadzenColumn>
                               @* <RadzenColumn Size="4" class="rz-text-align-end">
                                    <RadzenBadge BadgeStyle="BadgeStyle.Success" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", order.Freight)}") />
                                </RadzenColumn>*@
                            </RadzenRow>
                            <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                              @*  <RadzenImage Path="@order.Employee?.Photo" Style="width: 80px; height: 80px; border-radius: 50%" />*@
                                <RadzenStack Gap="0">
                                    <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">@(ticket.Project)</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1">@ticket.Category</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2">@(ticket.Severity)</RadzenText>
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenCard>
                        </Template>
                    </RadzenDataList>
                </RadzenCard>
            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="rz-mt-4">
                    <b>@tickets.Count() Tickets</b>
                </RadzenCard>
            </SummaryTemplate>


</RadzenPanel>

</p>

<p>
    Add New Ticket
</p>

<p>
    <EditForm Model="ticket" OnSubmit="Save">
    <div class="row">
        <div class="col-md-4"><RadzenText>Title</RadzenText> </div>
        <div class="col-md-8">
            <RadzenTextBox Name="txtFirstName" Placeholder="Will" @bind-Value="ticket.TicketName"></RadzenTextBox>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"><RadzenText>Severity</RadzenText> </div>
        <div class="col-md-8">
            <RadzenDropDown AllowClear="true" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowFiltering="true" Placeholder="Select ..." Data=@(sevirityList.Select(sv=>sv.Value))
            @bind-Value="ticket.Severity" ></RadzenDropDown>
        </div>
    </div>
    <br />
   <div class="row">
        <div class="col-md-4"><RadzenText>Project</RadzenText> </div>
        <div class="col-md-8">
            <RadzenDropDown AllowClear="true" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" Placeholder="Select ..." Data=@(projects.Select(sv=>sv.ProjectName))
                            @bind-Value="ticket.Project" ></RadzenDropDown>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"><RadzenText>Category</RadzenText> </div>
        <div class="col-md-8">
            <RadzenDropDown AllowClear="true" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true" Placeholder="Select ..." Data=@(categories.Select(sv=>sv.CategoryName))
                            @bind-Value="ticket.Category" ></RadzenDropDown>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"><RadzenText>Description</RadzenText> </div>
        <div class="col-md-8">
                <RadzenHtmlEditor @bind-Value="ticket.TicketDescription" style="height: 200px; margin-bottom: 1rem;">
                <RadzenHtmlEditorUndo />
                <RadzenHtmlEditorRedo />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorBold />
                <RadzenHtmlEditorItalic />
                <RadzenHtmlEditorUnderline />
                <RadzenHtmlEditorStrikeThrough />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorColor />
                <RadzenHtmlEditorBackground />
                <RadzenHtmlEditorRemoveFormat />
            </RadzenHtmlEditor>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4"><RadzenText>Attachment(s)</RadzenText></div>
        <div class="col-md-8">
            <InputFile id="Attach1" OnChange="OnInputFileChange" accept="image/*"   multiple ></InputFile>
                @*<RadzenUpload Accept="image/*" Url="Upload/issues" @bind-Value="ticket.Attach1" />*@
        </div>
    </div>

    <div class="row">&nbsp;</div>


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Add Ticket" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
            <RadzenButton Click="@ResetPage" Text="Reset" ButtonStyle="ButtonStyle.Danger"></RadzenButton>
        </div>
    </div>
    </EditForm>
</p>




    @code {
    string nofileMessage = "No files selected";
    IReadOnlyList<IBrowserFile> browserFiles ;
    string[] fileNames = new string[0];


    Ticket ticket = new Ticket();
    List<Project> projects = new List<Project>();
    List<Category> categories = new List<Category>();
    IEnumerable<Ticket> tickets;
    Dictionary<string, string> sevirityList = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        GetProjectList();
        GetCategoryList();
        GetTickets();
        sevirityList = SharedCollections.severityKey;

    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        browserFiles = e.GetMultipleFiles();
        nofileMessage = $"{browserFiles.Count} file(s) seected";
        this.StateHasChanged();
    }

    private void GetProjectList()
    {
        projects = projectService.ProjectList();

    }

    private void GetCategoryList()
    {
        categories = categoryService.CategoryList();
    }

    private void GetTickets()
    {
        tickets = ticketService.TicketList();
    }

    private async void Save()
    {
        if(browserFiles != null)
        {
            foreach (var file in browserFiles)
            {
                //Stream stream = file.OpenReadStream();
                //var path = $"{env.WebRootPath}\\{file.Name}";
                //FileStream fileStream = File.Create(path);
                //await stream.CopyToAsync(fileStream);
                //stream.Close();
                //fileStream.Close();
                string newFileName = DateTime.Now.ToString("yyMMddHHmmssff");
                string fileExtension = string.Empty;
                fileExtension = Path.GetExtension(file.Name);

                UploadFile(file,newFileName+fileExtension);
                fileNames = fileNames.Append(newFileName+fileExtension).ToArray();
            }
            ticket.Attach1 = fileNames;
        }
       
        ticketService.SaveOrUpdate(ticket);
        ResetPage();
        GetTickets();
        // GetAppUsers();
    }
    public async Task UploadFile(IBrowserFile file, string newFileName)
    {
        if (file != null )
        {
            var imagePath = @"\Upload";
            var uploadPath = env.WebRootPath + imagePath;
            if (!Directory.Exists(uploadPath))
            {
                Directory.CreateDirectory(uploadPath);
            }
            var fullPath = Path.Combine(uploadPath, newFileName);
            using (FileStream fileStream = new FileStream(fullPath, FileMode.Create, FileAccess.Write))
            {
                // await file.(fileStream);
                // fileStream.Write();
                Stream stream = file.OpenReadStream();
                await stream.CopyToAsync(fileStream);
                stream.Close();
            }
        }
    }

    private void ResetPage()
    {
        ticket = new Ticket();
    }
    private void Delete(string ticketId)
    {
        ticketService.DeleteTicket(ticketId);
        GetTickets();
    }

}
